$beige: #FFEED6;
$lighter-green: #29914D;
$main-green: #00584B;
$white: #FFFFFF;
$black: #000000;
$orange: #EC6726;
$purple: #B04E98;

$mid-transparent-green: #00584B99;
$transparent-green: #29914D1A;
$transparent-purple: #EC67261A;
$transparent-orange: #EC67261A;